* {
    margin: 0;
    padding: 0;
}

body { font: 1em normal Tahoma ;}
img {max-width: 100%;}

.logo {
    height: 60px;
    font-size: 28px;
    text-indent: 100px;
    font-weight: 500;
    padding-top: 20px;
}

ul {
    list-style: none;
}

nav {
    background-color: #333;
}

nav ul>li {
    display: inline-block;
    padding:0.35%;
    
}

nav li>a {
    text-decoration: none;
    color: #fff;
}

nav ul>li {
    width: 18.74% /*280px*/;
}

main {
    width: 68.05%; /* 980px*/
    margin: 10px auto;
    overflow: auto;
}

main>article {
    float: left;
    width: 62.24%; /* 610px*/
}

main>article img {
    float: left;
    width: 29.50% ; /*180px*/
    margin: 1.6% 1.6% 1.6% 0; /*10px*/
}

aside {
    float: right;
    width: 34.69%; /*340px*/
}

aside>ul>li {
    width: 44.11% ; /*150px;*/
    float: left;
    margin-right: 1.47%; /*5px*/
}

aside>ul>li>img {
    width: 100%;
}

aside h2 {
    padding: 10px 10px 10px 0;
}


@media screen and (max-width:400px){
    aside , main>article ,  nav ul li { width:100%; }
    main {width:95%;}
   nav ul li {padding:1em;}
}