html , body { margin:0; padding:0; box-sizing: border-box; font-size:16px;}
    
ul {list-style: none; padding:0;}

 .oLine { outline: 1px solid red;}
body {color:#333;}
 
 .float--left { float:left;}
 .float--right { float:right;}
 .clear:after { content:""; display:block; clear:both; }

 header > * , nav > ul> li{ display: inline-block; vertical-align: middle; }
 nav > ul> li {padding:10px; margin-right:10px;}
 header > figure {font-size: 22px; color:#333;}


section.top {  background-color: #f68a73; min-height:200px; color:#fff; }
.top .col-1 ,  .top .col-2 { width:45.138% /*650px*/; min-height: 200px; margin-left: 3.4% /*50px*/;}


.form > input ,  select{ padding:3.07% 1.53%; width: 92.30% /*600px*/; font-size:20px; margin-top:20px; }
.form > select {width: 61.53% /*400px*/; border:0;}
.form > input[type="button"] {width:30.76% /*200px*/; margin-left:3.38%; background-color: dodgerblue; border:0; }

.a1 , .a2 , .a3 { min-height:200px; box-shadow:0 2px 10px #11111144; border-radius:3px; background-repeat: no-repeat;} 
.a1 , .a2 {width: 46.53% /*300px*/; margin-left:3.07%; margin-top:20px;}
.a1 { background-image:url(images/kerela.PNG); background-size: cover;  background-position: 1% 1%; }
.a2 { background-image:url(images/laddakh.PNG); background-size: cover;     background-position: -23px 0px;
}
.a3 { width:95.38% /*620px*/; background-image:url(images/honeymoon.PNG); background-position: 1% -5px; background-size: cover;   margin:3.07%;}

.mid , .bottom{text-align: center;}
.articleHold , .desc{width: 69.44% /*1000px*/; min-height: 10px; margin:1% auto;}
.articleHold > article {width: 28%/*280px*/; border-radius:1px; box-shadow:0 2px 8px #88888855; 
        border-bottom:3px solid royalblue; padding:1%;  min-height:200px; margin-left:2.5%; font-size:0.85em; }
        .articleHold h2 {color:royalblue;}

.imgCon {width: 11.8% /*118px*/; height:122px; border-radius:3px; box-shadow:0 1px 8px #88888855; margin:2px;
        color:#fff; line-height: 5; font-size:1.2em;}
.imgCon:nth-child(odd) {background-color: darkgoldenrod;}   .imgCon:nth-child(even) {background-color: rgb(214, 152, 243);}
footer {min-height: 200px; background-color: #333; margin-top:50px;}
footer.links > h3 {text-align:center; color:#fff; padding-top:20px; line-height: 3; font-weight:400;}

    @media screen and (min-width:768px) and (max-width:1200px){ /*tablet media*/
        .articleHold , .desc { width:80%;}
    }

    @media screen and (max-width:400px){ /*mobile  and small*/
       .wrapper .float--left,  .wrapper .float--right { float:none;  margin:0;}
       header > *  {display:block; text-align: center;}
       .wrapper .articleHold > article , .wrapper .imgCon ,.top .col-1 ,.top .col-2 , .top .a1 , .top .a2 , .top .a3{width:100%; margin-bottom:20px;}
    .top .form > * { margin:5px; }
    .top .form > input[type="button"] {margin-left:5px;}
    .top h1 , .top h3 {padding:2%;}

    nav ul li { margin:0; padding:1%; font-size:0.85em;}
    footer h3 {font-size:0.75em; line-height: 2;}
    
    }
